* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: #000;
}
h1 {
    /* background: white; */
    font-size: 1.75rem;
    padding: 2rem 2rem 0.8rem 2rem;
    color: #fff;
}

.container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.location-input {
    width: 30%;
}
.location-input input {
    height: 2.8rem;
    width: 100%;
    outline: #6c757d;
    background-color: #000;
    font-size: 1.1rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
.location-input input:focus {
    padding: 0 1rem;
    border: 2px solid #5372F0;
}
.location-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 1rem;
    margin-top: -4px;
    background: #E3F2FD;
}
.location-input button {
    width: 100%;
    padding: 0.8rem 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background: #5372F0;
    transition: 0.2s ease;
}
.location-input .go-btn:hover {
    background: #2c52ed;
}
.location-input .current-location-btn {
    background: #6c757d;
}
.location-input .current-location-btn:hover {
    background: #5c636a;
}
.return {
    width: 100%;
}
.return .current-weather {
    color: #fff;
    background: #5372F0;
    border-radius: 0.5rem;
    padding: 1rem 4rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}
.current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
}
.current-weather h6 {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.current-weather .icon {
    text-align: center;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h6 {
    margin-top: -10px;
    font-size: capitalize;
}
.forecast-weather h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}
.forecast-weather .forecast-cards {
    display: flex;
    gap: 20px;
}
.forecast-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6c757d;
    border-radius: 5px;
}
.forecast-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}
.forecast-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}



